
.container_home{
padding: 30px 10px 10px 10px;
}

.every_day_container{
  background-color: #73DB80;
  margin-right: 207px;
  font-weight: 600;
  font-size: 14px;
  color: white;
  padding: 3px;
}

.personal_message_container{
  margin-top: 10px;
}
