
<div class="container_home">
  <div class="col-sm-12 col-md-6">
    <div class="every_day_container">
      NEW EVERY DAY
    </div>
    <div class="personal_message_container">
      , here is your workout for today!
    </div>
  </div>
</div>

<li id="results"></li>
